/*Navbar custom layout and font */
.navbar-custom {
background-color: rgb(131, 221, 224);
font-family:'lato'

}

.row{
Display: flex;


}

.column{
flex:25%;
padding:5px;


}










